In [1]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School","Wilson High School","Wright High School"]
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [20]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High school":"Griffin","Type":"District"},
                     {"High School":"Figueroa","Type":"District"},
                     {"High School":"Wilson","Type":"Charter"},
                     {"High School":"Wright","Type":"Charter"}]
for high_school in high_school_types:
    print(high_school)

{'High school': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [25]:
# Add the Panda dependency
import pandas as pd
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School",
                "Hernandez High School","Griffin High School","Wilson High School", 
                "Cabrera High School", "Bailey High School", "Holden High School", 
                "Pena High School", "Wright High School","Rodriguez High School", 
                "Johnson High School", "Ford High School", "Thomas High School"]
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series
for high_school in high_schools:
    print(high_school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [26]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [36]:
# Three separate lists of information on high schools
school_id = [0,1,2,3,4]
school_name = ["Huang High School", "Figueroa High School",
              "Shelton High School","Hernandez High School","Griffin High School"]
type_of_school = ["District","District","Charter","Districe","Charter"]
# Initialize a new DataFram.
#schools_df = pd.DataFrame()
# Add the list to a new DataFrame
# schools_df["School ID"] = school_id
# schools_df["school_name"] = school_name
# schools_df["type"] = type_of_school
# schools_df
high_schools_dict = {'School Id':school_id,'school_name':school_name,'typy':type_of_school}
schools_df = pd.DataFrame(high_schools_dict)
schools_df

   School Id            school_name      typy
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  Districe
4          4    Griffin High School   Charter

In [37]:
schools_df.columns

Index(['School Id', 'school_name', 'typy'], dtype='object')

In [38]:
schools_df.index

RangeIndex(start=0, stop=5, step=1)

In [39]:
schools_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'Districe'],
       [4, 'Griffin High School', 'Charter']], dtype=object)